.movie-view {
  text-align: center;
  background-color: lightgray;
  padding: 15px;
}
.movie-title {
  font-size: larger;
}
.label {
  font-size: large;
}
button {
  cursor: pointer;
}
.movie-title {
  text-decoration: underline;
}
.movie-view-back-button {
  padding: 10px;
}
.movie-view-favorite-button {
  padding: 10px;
}
.label {
  font-size: medium;
  font-style: italic;
}
.btn-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
